* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: antiquewhite;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
body main div img {
  width: 250px;
  height: 200px;
}
body a {
  color: black;
  text-decoration: none;
  font-size: 20px;
}
body li {
  list-style: none;
}
body p {
  font-size: 20px;
}
body h1 {
  font-size: 25px;
  margin: 10px 5px 0 5px;
  display: inline-block;
}
body .logo {
  width: 40px;
  height: 40px;
  display: inline-block;
  margin-left: 10px;
  margin-top: 10px;
}

header nav {
  position: absolute;
}

.top {
  display: flex;
  align-items: center;
}

.border {
  display: flex;
  justify-content: flex-end;
}

.btn-group.float-right .btn.btn-secondary {
  border: none !important;
}

.dropdown-menu.dropdown-menu-right {
  border: none !important;
  box-shadow: none !important;
}

.center {
  text-align: center;
}

.columnas {
  text-align: center;
  margin-top: 30px;
}

.columnas2 {
  text-align: center;
  margin-top: 30px;
  position: relative;
}

.camisetas img {
  margin-top: 20px;
  margin-bottom: 20px;
}

.cuatro, .tres, .seis, .cinco {
  display: none;
}

.boton-centrado {
  margin: 5px auto 15px auto;
  text-align: center;
}
.boton-centrado a {
  border: 3px solid #ccc;
  color: white;
  background-color: rgb(108, 117, 125);
}

.texto p {
  text-align: center;
  margin-bottom: 0;
}

.textoUs {
  margin-top: 40px;
  padding: 20px;
}

.pie {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: auto;
}
.pie a {
  margin-right: 10px;
}
.pie p {
  font-weight: 600;
  margin-left: 5px;
}

.formu {
  max-width: 400px;
  margin: 15px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.formu input {
  width: 100%;
  margin: 10px auto;
}

.fixed-corner {
  position: fixed;
  top: 10px;
  right: 10px;
}

.columnasP {
  display: none;
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
  body h1 {
    font-size: 40px;
  }
  body .logo {
    width: 50px;
    height: 50px;
  }
  .camisetas {
    display: grid;
    margin-left: 20px;
  }
  .camisetas img {
    width: 80%;
    height: 200px;
  }
  .columnas .cinco, .columnas .seis {
    display: none;
  }
  .columnas {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .columnasP {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .columnas2 {
    display: none;
  }
  .formu {
    margin-top: 100px;
    max-width: 90%;
  }
  .formu input {
    width: 100%;
    margin: 20px auto;
  }
}
@media only screen and (min-width: 769px) {
  body h1 {
    font-size: 60px;
  }
  body .logo {
    width: 80px;
    height: 80px;
  }
  .camisetas {
    display: grid;
    justify-content: center;
    margin-left: 20px;
  }
  .camisetas img {
    width: 450px;
    height: 300px;
  }
  .columnas {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .columnas .cinco, .columnas .seis {
    display: none;
  }
  .formu {
    margin-top: 100px;
    max-width: 60%;
  }
  .formu input {
    width: 100%;
    margin: 20px auto;
  }
  .columnas2 {
    display: none;
  }
  .columnasP {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

/*# sourceMappingURL=styles.css.map */
